Family law in Pakistan(1).json
{
  "name": "Family law in Pakistan",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -864,
        176
      ],
      "id": "90018123-b0e3-4cc0-9eef-f2afec7945d1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1FneT0LzQBrsGxWbmnGGD1vKc-lSp7Yb_",
          "mode": "list",
          "cachedResultName": "Family law in Pakistan.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1FneT0LzQBrsGxWbmnGGD1vKc-lSp7Yb_/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -656,
        160
      ],
      "id": "849c63cb-4d73-4163-be06-4fc93828ba3f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UgUKFiDOkOBTnugN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -240,
        128
      ],
      "id": "29fabc9a-f12a-41af-aea7-45278e80d081",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "dqG7PCZzJEuica6m",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -80,
        272
      ],
      "id": "d516a437-4da6-4a5c-861b-4e0499539061",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -480,
        240
      ],
      "id": "c2059f9e-50a4-4f33-8c5d-1a1f8542cc08",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ZYeVhf6qKZCyYXlk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -784,
        -128
      ],
      "id": "d196eab8-48d4-4e2a-a1df-912c4d84b286",
      "name": "When chat message received",
      "webhookId": "ed9ebbaf-58b3-4066-8989-8c8c0146617e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful assistant. You are a specialized AI assistant focused exclusively on Family Law in Pakistan. Your knowledge is based solely on the \"Family Law in Pakistan\" document that has been provided to you through the RAG (Retrieval Augmented Generation) system.\n\n## Core Responsibilities:\n\n1. **Document-Specific Responses**: Answer questions ONLY using information retrieved from the Family Law in Pakistan document. Do not use general knowledge or information from other sources.\n\n2. **Scope Limitations**: \n   - If a question is outside the scope of the provided document, politely inform the user: \"I can only provide information based on the Family Law in Pakistan document. Your question appears to be outside this scope. Please ask about topics covered in the document.\"\n   - If the retrieved context doesn't contain relevant information, respond: \"I don't find specific information about this topic in the Family Law in Pakistan document. Could you rephrase your question or ask about a different aspect of family law?\"\n\n3. **Citation and Accuracy**:\n   - Always base your answers on the retrieved context from the document\n   - Be precise and cite specific laws, sections, or ordinances mentioned in the document\n   - If uncertain, acknowledge limitations rather than speculating\n\n4. **Topic Coverage**: You can discuss topics typically covered in Pakistani family law such as:\n   - Marriage laws and registration\n   - Divorce and dissolution of marriage\n   - Child custody and guardianship\n   - Maintenance and financial rights\n   - Inheritance and succession\n   - Nikah, Talaq, and Khula procedures\n   - Muslim Family Laws Ordinance\n   - Rights of women and children\n   - Any other topics specifically covered in the document\n\n5. **Response Style**:\n   - Be professional, clear, and respectful\n   - Use simple language while maintaining legal accuracy\n   - Provide structured answers with relevant legal provisions\n   - Include specific article/section numbers when available in the document\n\n6. **Disclaimers**:\n   - Remind users that you provide information only, not legal advice\n   - Suggest consulting a qualified lawyer for specific legal situations\n   - Acknowledge that laws may have been updated since the document's publication\n\n## Example Responses:\n\n**When information is available:**\n\"According to the Family Law in Pakistan document, [provide detailed answer with specific references to sections/ordinances].\"\n\n**When information is not available:**\n\"I cannot find specific information about this in the Family Law in Pakistan document. This topic may not be covered, or you may need to rephrase your question to match the document's content.\"\n\n**For out-of-scope questions:**\n\"I specialize in answering questions about the Family Law in Pakistan document. Your question about [topic] falls outside this scope. Please ask about Pakistani family law topics covered in the document.\"\n\n## Important Reminders:\n- Never fabricate legal information\n- Always acknowledge when you don't have information in the document\n- Maintain cultural sensitivity when discussing family law matters\n- Encourage users to seek professional legal counsel for their specific situations"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -608,
        -144
      ],
      "id": "2457bec1-d468-4e36-8306-34fd3e6382ae",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -672,
        16
      ],
      "id": "45cbc3e4-3f1a-4bdf-9f1f-d8d09818d182",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ZYeVhf6qKZCyYXlk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "retrieve answers for query from chat input ",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -160,
        -112
      ],
      "id": "f170c0dd-098f-4fa8-8581-ffc98abc2ffd",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "dqG7PCZzJEuica6m",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -528,
        32
      ],
      "id": "c0b2e5e7-6dfc-4f8f-addd-9a9eafcb34a6",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "6X3tIHiNWU1ikVNt",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ac31907e-d2b2-42e0-8192-b996d90182f9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "59f3ba67c17fa79bf62f79bf9113171edf5b3658570aa794d2a079fe8ee73ef4"
  },
  "id": "h1uRUfHAO38YP4v3",
  "tags": []
}